name: RoboDerik Simulator

on:
  # 1. Agendamento padr茫o (backup)
  schedule:
    - cron: '*/5 * * * *'
  
  # 2. Gatilho Manual (Bot茫o)
  workflow_dispatch:
  
  # 3. GATILHO EXTERNO (O Segredo do Google Apps Script) 
  repository_dispatch:
    types: [forcar_execucao]

permissions:
  contents: write

jobs:
  run-bot:
    runs-on: ubuntu-latest
    
    steps:
      - name: Baixar c贸digo do reposit贸rio
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Instalar bibliotecas
        run: |
          pip install pandas pandas_ta requests feedparser vaderSentiment pytz

      - name: Rodar Rob么 Simulado
        env:
          # Sua chave da CoinGecko (se estiver usando no Secrets)
          CG_API_KEY: ${{ secrets.CG_API_KEY }}
        run: python bot.py

      - name: Salvar Planilha (Commit)
        run: |
          git config --global user.name 'RoboDerik Bot'
          git config --global user.email 'bot@djmtecnologia.com'
          git add trades.csv
          # O comando abaixo s贸 commita se houver mudan莽a, sen茫o n茫o faz nada (evita erro)
          git commit -m " Atualizando Planilha de Trades" || exit 0
          git push
